.forms-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    label {
        margin-right: .3em;
    }
    .filter-field {
        margin-right: 1em;
        display: flex;
        align-items: center;
    }
    select,input {
        font-size: .8em;
        field-sizing: content;
        min-width: 3em;
        min-height: 2vh;
    }
    @include tablette-version {
        font-size: 2.5em;
        margin-top: 2em;
    }
}

input {
    color: black;
}
select {
    color: black;
    cursor: pointer;
}
.filter-nav {
    display: flex;
    align-items: center;
    margin-top: .5em;
}

.filter-selected {
    @include flexCenter;
}
